.movielist{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 1rem;
}

.movielist img{
    width: 200px;
    height: 300px;
}

.movielist p{
    font-size: 10px;
}
.movielist h3{
    font-size: 10px;

}

.movie-card{
    width: 200px;
}

header{
    top: 0;
    width: 100%;
    display: flex;
}

header section{
    display: flex;
    align-items: center;
}
header section form{
    display: flex;
}